html, body, #root, #wrapper
{
	height: 100%;
}

.cover {
	position: relative;
}

.cover img {
	min-width: 100%;
}

.cover h1 {
	position: absolute;
	z-index: 10;
	bottom: 0;
	margin: 0;
	color: white;
	font-size: 5em;
	padding-top: 100px;
	padding-left: 25px;
	width: calc(100% - 30px);
	background: black; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(rgba(0,0,0,0) 10%, black 80%); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(rgba(0,0,0,0) 10%, black 80%); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(rgba(0,0,0,0) 10%, black 80%)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(rgba(0,0,0,0) 10%, black 80%); /* Standard syntax */
}

.logo img {
	max-height: 20em;
	margin: 1em;
}

#parrains {
	width: 100%;
	height: 12em;
	overflow-x: auto;
	margin-bottom: 1em;
}

#parrains div {
	float: left;
	height: 10em;
	line-height: 8em;
	width: 10em;
	margin: 1em;
	padding: 1em;
	background-color: black;
}

#parrains div a {
	color: #E49C00;
	line-height: 1em;
	font-weight: bold;
	font-size: 1em;
}

#parrains div img {
	max-height: 8em;
	max-width: 8em;
}

#wrapper
{
	display: flex;
	flex-direction: column;
}

#noFooter
{
	flex: 1 0 auto;
}

footer
{
    width: 100%;
    background-color: #212121;
    padding: 3rem;
	text-align: center;
}

footer a, footer a:hover, footer a:focus
{
	color: black;
	text-decoration: none;
}

.footerHalf
{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

footer ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

footer li
{
	text-align: left;
	padding: 0;
	margin: 0;
}

.noStyleLink, .noStyleLink:hover
{
	color: black;
}
