html, body, #root, #wrapper
{
	height: 100%;
}

#wrapper {
	overflow-y: scroll;
}

.upload {
	padding: 20px 10px;
	background-color: #E1F5FE;
	border: solid 1px #81D4FA;
	cursor: pointer;
	width: 100%;
}

.active-upload {
	padding: 20px 10px;
	background-color: #DCEDC8;
	border: solid 1px #AED581;
	cursor: pointer;
	width: 100%;
}

.cover {
	position: relative;
	height: 240px;
	width: 1200px;
	overflow: hidden;
}

.cover img {
	width: 100%;
}

.cover h1 {
	position: absolute;
	z-index: 10;
	bottom: 10px;
	margin: 0;
	color: white;
	font-size: 5em;
	padding-top: 100px;
	padding-left: 25px;
	width: calc(100% - 30px);
	text-shadow: 2px 2px 4px black;
}

.logo {
	height: 210px;
	width: 280px;
	overflow: hidden;
	text-align: center;
}

.logo img {
	max-width: 100%;
	max-height: 100%;
}

#parrains {
	width: 100%;
	height: 12em;
	overflow-x: auto;
	margin-bottom: 1em;
}

#parrains div {
	float: left;
	height: 10em;
	line-height: 8em;
	width: 10em;
	margin: 1em;
	padding: 1em;
}

#parrains div a {
	color: #E49C00;
	line-height: 1em;
	font-weight: bold;
	font-size: 1em;
}

#parrains div img {
	max-height: 8em;
	max-width: 8em;
}

#wrapper
{
	display: flex;
	flex-direction: column;
}

#noFooter
{
	flex: 1 0 auto;
}

footer
{
    width: 100%;
    background-color: #212121;
    padding: 3rem;
	text-align: center;
}

footer a, footer a:hover, footer a:focus
{
	color: black;
	text-decoration: none;
}

.footerHalf
{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

footer ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

footer li
{
	text-align: left;
	padding: 0;
	margin: 0;
}

.noStyleLink, .noStyleLink:hover
{
	color: black;
}
