html, body, #root, #wrapper
{
	height: 100%;
}

#wrapper {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.upload {
	padding: 20px 10px;
	background-color: #E1F5FE;
	border: solid 1px #81D4FA;
	cursor: pointer;
	width: 100%;
}

.active-upload {
	padding: 20px 10px;
	background-color: #DCEDC8;
	border: solid 1px #AED581;
	cursor: pointer;
	width: 100%;
}

.cover {
	position: relative;
	height: 240px;
	width: 1200px;
	overflow: hidden;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.25)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.25)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.25)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.25)); /* Standard syntax */
}

.cover img {
	width: 100%;
}

.cover h1 {
	position: absolute;
	z-index: 10;
	bottom: 10px;
	margin: 0;
	color: white;
	font-size: 5em;
	padding-top: 100px;
	padding-left: 25px;
	width: calc(100% - 30px);
	text-shadow: 2px 2px 4px black;
}

.logo {
	height: 210px;
	width: 280px;
	overflow: hidden;
	text-align: center;
}

.logo img {
	max-width: 100%;
	max-height: 100%;
}

#wrapper
{
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

#noFooter
{
	flex: 1 0 auto;
}

footer
{
    width: 100%;
    background-color: #212121;
    padding: 3rem;
	text-align: center;
}

footer a, footer a:hover, footer a:focus
{
	color: black;
	text-decoration: none;
}

.footerHalf
{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

footer ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

footer li
{
	text-align: left;
	padding: 0;
	margin: 0;
}

.noStyleLink, .noStyleLink:hover
{
	color: black;
}
