html, body, #root, #wrapper
{
	height: 100%;
}

#wrapper
{
	display: flex;
	flex-direction: column;
}

#noFooter
{
	flex: 1 0 auto;
}

footer
{
    width: 100%;
    background-color: #212121;
    padding: 3rem;
	text-align: center;
}

footer a, footer a:hover, footer a:focus
{
	color: black;
	text-decoration: none;
}

.footerHalf
{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

footer ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

footer li
{
	text-align: left;
	padding: 0;
	margin: 0;
}

.noStyleLink, .noStyleLink:hover
{
	color: black;
}
