#parrains {
	width: 100%;
	height: 12em;
	overflow-x: auto;
	margin-bottom: 1em;
}

#parrains a {
	display: block;
	float: left;
	height: 10em;
	line-height: 8em;
	width: 8em;
	margin: 1em;
	padding: 0;
	color: #E49C00;
	line-height: 2em;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#parrains a img {
	max-height: 8em;
	max-width: 8em;
}
